---
layout: default
---
<div id="index" class="bs">
    <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>
        {{ content }}
        <div>
            <div class="reward">
                <a href="#reward" class="rewards uk-button" >赏</a>
            </div>
            <div id="reward" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header">感谢打赏!</div>
                    <div class="uk-thumbnail"><img src="{{ "/assets/img/qrcode.jpg" | prepend: site.baseurl }}" ><div class="uk-thumbnail-caption">微信</div></div>

                </div>  
            </div>
        </div>
        {% unless page.tags == empty %}
        <div class="tags uk-clearfix">
            <div class="tags uk-float-left">
                <i class="uk-icon-tags"></i> 
                {% if page.tags.first[0] == null %}
                {% for tag in page.tags %} 
                <a href="{{ "/tags.html" | prepend: site.baseurl }}#{{ tag }}-ref" rel="tag">{{ tag }} </a>
                {% endfor %}
                {% else %}
                {% for tag in page.tags %} 
                <a href="{{ "/tags.html" | prepend: site.baseurl }}#{{ tag[0] }}-ref" rel="tag">{{ tag[0] }}</a>
                {% endfor %}
                {% endif %}
            </div>				
            <div class="uk-float-right"></div>					
        </div>
        {% endunless %}
    </article>
    
    <div id="qzhai_comments">
        <h4>评论</h4>

        <div id="respond" class="comment_form" role="form">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{ site.production_url }}{{ page.url }}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name: "zengde"};
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
        
        <!-- Comment Form -->
    </div>
</div>
